<% content_for :main_content do %>

<div class="max-w-lg mx-auto">
  <%= form_with(model: @challenge, url: challenges_path, method: :post) do |form| %>
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <%= form.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_field :title, class: "form-input mt-1 block w-full rounded-md" %>
      </div>

      <div class="mb-4">
        <%= form.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_area :description, class: "form-textarea mt-1 block w-full rounded-md" %>
      </div>

      <div class="mb-4">
        <%= form.label :duration, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.number_field :duration, class: "form-input mt-1 block w-full rounded-md" %>
      </div>

      <div class="mb-4">
        <%= form.label :start_date, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.date_field :start_date, class: "form-input mt-1 block w-full rounded-md" %>
      </div>

      <div class="mb-6">
        <%= form.label :end_date, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.date_field :end_date, class: "form-input mt-1 block w-full rounded-md" %>
      </div>

      <div class="flex items-center justify-between">
        <%= form.submit "Create Challenge", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    </div>
  <% end %>
</div>

<%end%>